<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask Project</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="responsive-table__container">

       <nav class="navig mb-5">
        <a href="/">Home</a>

    </nav>



    <div class="content">
        <h1>Library Management system</h1>

        <img src="/static/images/background.png" alt="Example Image" style="max-width: 100%; height: auto;">
    </div>
</body>
</html>
